@{ ViewData["Title"] = "Home"; }

<div>
    <h1 class="display-4">Most Common Bank of Australia</h1>

    <div class="text-left">
        <p>Hello and welcome to the Most Common Bank of Australia, where we don't actually exist!</p>
    </div>
</div>
